NODE-RED FLOWS
[{"id":"c4cdde12.3be0e8","type":"ui_text","z":"b88a3f78.1c3388","group":"7d879c56.04837c","order":1,"width":"","height":"","name":"Last update","label":"Last Update","format":"{{msg.payload}}","layout":"","x":710,"y":840,"wires":[]},{"id":"7b190928.2a0ca8","type":"ui_text","z":"b88a3f78.1c3388","group":"7d879c56.04837c","order":2,"width":"","height":"","name":"SOC bars","label":"SOC bars","format":"{{msg.payload}}","layout":"","x":700,"y":880,"wires":[]},{"id":"bd0f79e3.e8d3c","type":"ui_text","z":"b88a3f78.1c3388","group":"7d879c56.04837c","order":3,"width":"","height":"","name":"Consumption","label":"Consumption","format":"{{msg.payload}} kWh/100Km","layout":"","x":720,"y":800,"wires":[]},{"id":"af1256d4.3a76a8","type":"ui_text","z":"b88a3f78.1c3388","group":"d357b2e7.f8be68","order":2,"width":"","height":"","name":"Month","label":"Date","format":"{{msg.payload}}","layout":"","x":690,"y":480,"wires":[]},{"id":"fdc3e3b2.4691a8","type":"ui_text","z":"b88a3f78.1c3388","group":"d357b2e7.f8be68","order":3,"width":"","height":"","name":"Trips","label":"N. Trips","format":"{{msg.payload}}","layout":"","x":690,"y":520,"wires":[]},{"id":"b7a816ef.d7eeb8","type":"ui_text","z":"b88a3f78.1c3388","group":"d357b2e7.f8be68","order":6,"width":"","height":"","name":"Total Consumption","label":"Total Consumption","format":"{{msg.payload}} kWh","layout":"","x":730,"y":560,"wires":[]},{"id":"5d31474c.bf53c","type":"ui_text","z":"b88a3f78.1c3388","group":"d357b2e7.f8be68","order":7,"width":"","height":"","name":"Generated","label":"Generated","format":"{{msg.payload}} kWh","layout":"","x":710,"y":600,"wires":[]},{"id":"2e4e3e7c.b733c2","type":"ui_text","z":"b88a3f78.1c3388","group":"d357b2e7.f8be68","order":8,"width":"","height":"","name":"Regenerated","label":"Regenerated","format":"{{msg.payload}} kWh","layout":"","x":710,"y":640,"wires":[]},{"id":"6b65b987.cb2908","type":"ui_text","z":"b88a3f78.1c3388","group":"d357b2e7.f8be68","order":4,"width":"","height":"","name":"distance","label":"Distance","format":"{{msg.payload}} Km","layout":"","x":700,"y":680,"wires":[]},{"id":"e60482f5.81b11","type":"ui_text","z":"b88a3f78.1c3388","group":"d357b2e7.f8be68","order":5,"width":"","height":"","name":"electric mileage","label":"Avg.","format":"{{msg.payload}} kWh/100Km","layout":"","x":720,"y":720,"wires":[]},{"id":"b5b030cb.3ce8e8","type":"ui_text","z":"b88a3f78.1c3388","group":"d357b2e7.f8be68","order":9,"width":"","height":"","name":"CO2 Reduction","label":"CO2 Reduction","format":"{{msg.payload}} Kg","layout":"","x":720,"y":760,"wires":[]},{"id":"44686424.0795c4","type":"function","z":"b88a3f78.1c3388","name":"Split&Parse","func":"var obj = msg.topic.split(\"/\"); // fetch the evse name\nmsg.nodegroup = obj[2];\n\nvar json =JSON.parse(msg.payload); \n\nsoc = {};\nlastupdate = {};\n\nvar date = new Date(json.BatteryStatusRecords.NotificationDateAndTime + \" UTC\");\nlastupdate.payload = date.getDate() + \"/\";\nlastupdate.payload += ((date.getMonth() + 1 ) < 10 ? \"0\" : \"\") + (date.getMonth() + 1 ) + \" \";\nlastupdate.payload += (date.getHours()   < 10 ? \"0\" : \"\") + date.getHours()   + \":\";\nlastupdate.payload += (date.getMinutes() < 10 ? \"0\" : \"\") + date.getMinutes();\n\nsoc.payload = json.BatteryStatusRecords.BatteryStatus.BatteryRemainingAmount;\n\n\nreturn[lastupdate,soc];\n","outputs":"2","noerr":0,"x":410,"y":880,"wires":[["c4cdde12.3be0e8"],["7b190928.2a0ca8"]]},{"id":"f2b6fdda.f34ab","type":"mqtt in","z":"b88a3f78.1c3388","name":"last status","topic":"carwings/from/json/laststatus","qos":"2","broker":"8d9bb244.7ccb2","x":140,"y":900,"wires":[["44686424.0795c4"]]},{"id":"b195624d.67fa58","type":"ui_button","z":"b88a3f78.1c3388","name":"Climate ON","group":"7d879c56.04837c","order":5,"width":"","height":"","label":"Climate ON","color":"","bgcolor":"","icon":"ac_unit","payload":"climatestart","payloadType":"str","topic":"carwings/to","x":150,"y":400,"wires":[["ca6302d8.9f5198"]]},{"id":"5b08709b.35849","type":"ui_button","z":"b88a3f78.1c3388","name":"Update","group":"7d879c56.04837c","order":4,"width":"","height":"","label":"Update","color":"","bgcolor":"","icon":"sync","payload":"battupdate","payloadType":"str","topic":"carwings/to","x":160,"y":360,"wires":[["ca6302d8.9f5198"]]},{"id":"d0cb07fc.2ce978","type":"ui_button","z":"b88a3f78.1c3388","name":"Climate OFF","group":"7d879c56.04837c","order":6,"width":"","height":"","label":"Climate OFF","color":"","bgcolor":"","icon":"cancel","payload":"climatestop","payloadType":"str","topic":"carwings/to","x":150,"y":440,"wires":[["ca6302d8.9f5198"]]},{"id":"b1f23d37.5b699","type":"ui_button","z":"b88a3f78.1c3388","name":"Start Charge","group":"7d879c56.04837c","order":7,"width":"","height":"","label":"Start Charge","color":"","bgcolor":"","icon":"ev_station","payload":"chargestart","payloadType":"str","topic":"carwings/to","x":150,"y":480,"wires":[["ca6302d8.9f5198"]]},{"id":"ca6302d8.9f5198","type":"function","z":"b88a3f78.1c3388","name":"Parse","func":"var carwings = {};\ncarwings.topic = \"carwings/to\";\ncarwings.payload = \"carwings \" + context.global.CarwingsUser + \" \" + context.global.CarwingsPass + \" \" + msg.payload;\n\nreturn carwings;","outputs":1,"noerr":0,"x":390,"y":360,"wires":[["b46e1bc7.f95448"]]},{"id":"b46e1bc7.f95448","type":"mqtt out","z":"b88a3f78.1c3388","name":"carwings","topic":"carwings/to","qos":"","retain":"","broker":"8d9bb244.7ccb2","x":700,"y":360,"wires":[]},{"id":"a5d4193c.2e5608","type":"exec","z":"b88a3f78.1c3388","command":"/home/pi/carwings.py","addpay":true,"append":"","useSpawn":"","timer":"","name":"carwings","x":620,"y":1400,"wires":[[],["e51bbe42.8259a8"],[]]},{"id":"b053a3e6.aed468","type":"comment","z":"b88a3f78.1c3388","name":"Carwings API - MQTT (open me for instructions)","info":"carwings.py [user] [password] [action] \n[user] - carwings username \n[password] - carwings password \n[action] \n- battlaststaus - Request Last Status \n- battupdate    - Request Update \n- climateupdate - Request Climate Update \n- climatestart  - Request Climate Start \n- climatestop   - Request Climate Stop \n- chargestart   - Request Charge Start ","x":240,"y":1320,"wires":[]},{"id":"31218a90.f180c6","type":"mqtt in","z":"b88a3f78.1c3388","name":"Listen carwings","topic":"carwings/to","qos":"0","broker":"8d9bb244.7ccb2","x":160,"y":1400,"wires":[["b04cfd05.13c4e"]]},{"id":"b04cfd05.13c4e","type":"function","z":"b88a3f78.1c3388","name":"Validate","func":"var Value = msg.payload.split(\" \");\n\n\n\n \nif(Value[0] == \"carwings\") {\n  if(Value[3] == \"battlaststaus\" || Value[3] ==  \"battupdate\" || Value[3] ==  \"climateupdate\" ||  Value[3] ==  \"climatestart\" || Value[3] ==  \"climatestop\" || Value[3] ==  \"chargestart\" || Value[3] ==  \"driveanalysis\"  || Value[3] ==  \"RateSimulation\") \n  {\n    msg.payload = Value[1] + \" \" + Value[2] + \" \" + Value[3];\n\n    if(Value[3] == \"battupdate\") { // requested last update, update all info\n\n      // battlaststaus\n      var msg2 = {};\n      msg2.payload = Value[1] + \" \" + Value[2] + \" battlaststaus\";\n      msg2.topic = \"carwings/to\";\n      \n      //driveanalysis\n      var msg3 = {};\n      msg3.payload = Value[1] + \" \" + Value[2] + \" driveanalysis\";\n      msg3.topic = \"carwings/to\";\n      \n      // RateSimulation from this month\n      var msg4 = {};\n      var d = new Date();\n      var date = d.getFullYear() + ((d.getMonth() + 1 ) < 10 ? \"0\" : \"\") + (d.getMonth() + 1 );\n      msg4.payload = Value[1] + \" \" + Value[2] + \" RateSimulation \" + date;\n      msg4.topic = \"carwings/to\";\n      \n      return [[msg,msg2,msg3,msg4]]; // send 4 messages\n    }\n    \n    return msg;\n  }\n}\nreturn null;","outputs":"1","noerr":0,"x":320,"y":1400,"wires":[["b5197f11.1e4aa"]]},{"id":"b5197f11.1e4aa","type":"delay","z":"b88a3f78.1c3388","name":"1msg/2min","pauseType":"rate","timeout":"2","timeoutUnits":"minutes","rate":"1","nbRateUnits":"2","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":470,"y":1400,"wires":[["a5d4193c.2e5608"]]},{"id":"5deaa50e.6b2d54","type":"comment","z":"b88a3f78.1c3388","name":"Carwings Page","info":"","x":120,"y":280,"wires":[]},{"id":"aa08a422.45fd8","type":"comment","z":"b88a3f78.1c3388","name":"Get credentials","info":"","x":120,"y":60,"wires":[]},{"id":"f4401264.15ae2","type":"inject","z":"b88a3f78.1c3388","name":"@boot","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"x":160,"y":140,"wires":[["4a00f2ef.361c34"]]},{"id":"11079534.ad8413","type":"function","z":"b88a3f78.1c3388","name":"get credentials","func":"var json =JSON.parse(msg.payload); \n\nglobal.set(\"CarwingsUser\" , json.CarwingsUser||\"\");\nglobal.set(\"CarwingsPass\" , json.CarwingsPass||\"\");\n\nreturn msg;","outputs":1,"noerr":0,"x":720,"y":140,"wires":[[]]},{"id":"4a00f2ef.361c34","type":"file in","z":"b88a3f78.1c3388","name":"Setings","filename":"/home/pi/data/carwings.secret","format":"utf8","x":400,"y":140,"wires":[["11079534.ad8413"]]},{"id":"5a678eb9.f6fdc","type":"function","z":"b88a3f78.1c3388","name":"","func":"if( msg.topic == \"CarwingsUser\") {\n    context.global.CarwingsUser = msg.payload; \n}\nelse if( msg.topic == \"CarwingsPass\") {\n    context.global.CarwingsPass = msg.payload; \n}\n\n\nreturn null;","outputs":1,"noerr":0,"x":690,"y":1120,"wires":[[]]},{"id":"36ed8ef5.d435a2","type":"ui_ui_control","z":"b88a3f78.1c3388","name":"ui control","x":140,"y":1120,"wires":[["ec39bd41.ec6c48"]]},{"id":"ec39bd41.ec6c48","type":"function","z":"b88a3f78.1c3388","name":"Update","func":"msg5 = {};\nmsg6 = {};\n\nmsg5.payload = global.get(\"CarwingsUser\")||0;\nmsg6.payload = global.get(\"CarwingsPass\")||0;\n     \n    \n    \nreturn [msg5,msg6];","outputs":"2","noerr":0,"x":300,"y":1120,"wires":[["34b475e4.0d8d02"],["d2b509a4.4653b"]]},{"id":"34b475e4.0d8d02","type":"ui_text_input","z":"b88a3f78.1c3388","name":"Carwings User","label":"Carwings User","group":"79e81ba3.dc14b4","order":5,"width":0,"height":0,"passthru":false,"mode":"text","delay":300,"topic":"CarwingsUser","x":500,"y":1100,"wires":[["5a678eb9.f6fdc"]]},{"id":"d2b509a4.4653b","type":"ui_text_input","z":"b88a3f78.1c3388","name":"Carwings Pass","label":"Carwings Pass","group":"79e81ba3.dc14b4","order":6,"width":0,"height":0,"passthru":false,"mode":"password","delay":300,"topic":"CarwingsPass","x":500,"y":1140,"wires":[["5a678eb9.f6fdc"]]},{"id":"1775c550.e08bdb","type":"ui_button","z":"b88a3f78.1c3388","name":"","group":"79e81ba3.dc14b4","order":7,"width":0,"height":0,"label":"Save","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":130,"y":1180,"wires":[["9eb001a8.b9847"]]},{"id":"9eb001a8.b9847","type":"function","z":"b88a3f78.1c3388","name":"Save","func":"obj = {};\nobj.CarwingsUser = context.global.CarwingsUser;\nobj.CarwingsPass = context.global.CarwingsPass;\n\nmsg.payload = obj;\n\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":1180,"wires":[["1d6f34a8.982d33"]]},{"id":"1d6f34a8.982d33","type":"file","z":"b88a3f78.1c3388","name":"Save","filename":"/home/pi/data/carwings.secret","appendNewline":false,"createDir":false,"overwriteFile":"true","x":690,"y":1180,"wires":[]},{"id":"1b0ecb1a.8db5b5","type":"function","z":"b88a3f78.1c3388","name":"Split&Parse","func":"var obj = msg.topic.split(\"/\"); // fetch the evse name\nmsg.nodegroup = obj[2];\n\nvar json =JSON.parse(msg.payload); \n\nsoc = {};\nlastupdate = {};\n\nvar date = new Date(json.timeStamp + \" UTC\");\nlastupdate.payload = date.getDate() + \"/\";\nlastupdate.payload += ((date.getMonth() + 1 ) < 10 ? \"0\" : \"\") + (date.getMonth() + 1 ) + \" \";\nlastupdate.payload += (date.getHours()   < 10 ? \"0\" : \"\") + date.getHours()   + \":\";\nlastupdate.payload += (date.getMinutes() < 10 ? \"0\" : \"\") + date.getMinutes();\n\nsoc.payload = json.batteryDegradation;\n\n\nreturn[lastupdate,soc];\n","outputs":"2","noerr":0,"x":410,"y":840,"wires":[["c4cdde12.3be0e8"],["7b190928.2a0ca8"]]},{"id":"71aeb7c7.4f0888","type":"mqtt in","z":"b88a3f78.1c3388","name":"update","topic":"carwings/from/json/update","qos":"2","broker":"8d9bb244.7ccb2","x":130,"y":840,"wires":[["1b0ecb1a.8db5b5"]]},{"id":"9dd03e56.e34c3","type":"function","z":"b88a3f78.1c3388","name":"Split&Parse","func":"var obj = msg.topic.split(\"/\"); // fetch the evse name\nmsg.nodegroup = obj[2];\n\nvar json =JSON.parse(msg.payload); \n\njson = json.PriceSimulatorDetailInfoResponsePersonalData;\n\nmonth = {};\ntrips = {};\ntcons = {};\ngener = {};\nregen = {};\ndist = {};\nmileage = {};\nco2 = {};\n\n\nmonth.payload   = json.DisplayMonth;\ntrips.payload   = json.PriceSimulatorTotalInfo.TotalNumberOfTrips;\ntcons.payload   = (parseInt(json.PriceSimulatorTotalInfo.TotalPowerConsumptTotal)).toFixed(0);\ngener.payload   = (parseInt(json.PriceSimulatorTotalInfo.TotalPowerConsumptMoter)).toFixed(0);\nregen.payload   = (parseInt(json.PriceSimulatorTotalInfo.TotalPowerConsumptMinus)).toFixed(0);\ndist.payload    = (parseInt(json.PriceSimulatorTotalInfo.TotalTravelDistance)/1000).toFixed(0);\nmileage.payload = (parseFloat(json.PriceSimulatorTotalInfo.TotalElectricMileage) * 1000).toFixed(1);\nco2.payload     = json.PriceSimulatorTotalInfo.TotalCO2Reductiont;\n\n\nreturn[month,trips,tcons,gener,regen,dist,mileage,co2];\n","outputs":"8","noerr":0,"x":410,"y":700,"wires":[["af1256d4.3a76a8"],["fdc3e3b2.4691a8"],["b7a816ef.d7eeb8"],["5d31474c.bf53c"],["2e4e3e7c.b733c2"],["6b65b987.cb2908"],["e60482f5.81b11"],["b5b030cb.3ce8e8"]]},{"id":"3ffe090a.ebadae","type":"mqtt in","z":"b88a3f78.1c3388","name":"last status","topic":"carwings/from/json/rate/201704","qos":"2","broker":"8d9bb244.7ccb2","x":140,"y":700,"wires":[["9dd03e56.e34c3"]]},{"id":"8d1b526f.af30e","type":"mqtt in","z":"b88a3f78.1c3388","name":"drive","topic":"carwings/from/json/drive","qos":"2","broker":"8d9bb244.7ccb2","x":130,"y":780,"wires":[["8f9e364b.356148"]]},{"id":"8f9e364b.356148","type":"function","z":"b88a3f78.1c3388","name":"Split&Parse","func":"var json =JSON.parse(msg.payload); \n\nmsg.payload = json.DriveAnalysisBasicScreenResponsePersonalData.DateSummary.ElectricMileage;\n\n\nreturn msg;\n","outputs":"1","noerr":0,"x":410,"y":800,"wires":[["bd0f79e3.e8d3c"]]},{"id":"af32f613.86d858","type":"comment","z":"b88a3f78.1c3388","name":"Settings","info":"","x":100,"y":1020,"wires":[]},{"id":"e51bbe42.8259a8","type":"function","z":"b88a3f78.1c3388","name":"notification","func":"if(msg.payload == \"\") {\n    msg.payload =  \"Carwings Request Completed with Success\";\n}\nreturn msg;","outputs":1,"noerr":0,"x":790,"y":1380,"wires":[["feb49ac7.1a96a"]]},{"id":"feb49ac7.1a96a","type":"ui_toast","z":"b88a3f78.1c3388","position":"top right","displayTime":"3","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"","name":"notification","x":790,"y":1440,"wires":[]},{"id":"7d879c56.04837c","type":"ui_group","z":"","name":"Carwings","tab":"295c398.e20dfc6","order":2,"disp":true,"width":"6"},{"id":"d357b2e7.f8be68","type":"ui_group","z":"","name":"Stats","tab":"295c398.e20dfc6","order":3,"disp":true,"width":"6"},{"id":"8d9bb244.7ccb2","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"verifyservercert":true,"compatmode":true,"keepalive":"15","cleansession":true,"willTopic":"","willQos":"0","willRetain":null,"willPayload":"","birthTopic":"","birthQos":"0","birthRetain":null,"birthPayload":""},{"id":"79e81ba3.dc14b4","type":"ui_group","z":"","name":"Settings","tab":"76fda79b.4484a8","order":1,"disp":true,"width":"6"},{"id":"295c398.e20dfc6","type":"ui_tab","z":"","name":"Carwings","icon":"directions_car","order":"2"},{"id":"76fda79b.4484a8","type":"ui_tab","z":"","name":"Settings","icon":"settings","order":"3"}]
